{erl_opts, [debug_info]}.
{shell, [{apps, [gproc, cowboy, ttd_server]}]}.
{deps,
    [
        {gproc, {git, "https://github.com/uwiger/gproc.git"}},
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
        {gen_leader, {git,"https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}},
        {bullet, {git, "https://github.com/ninenines/bullet.git"}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git"}}
    ]
}.
% {plugins, [rebar3_run]}.
